<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "Terraria character maker.squeek_games.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Terraria character maker</name>

    <description>
        in this game you can make a Terraria character 
    </description>

    <author href="http://scratch.mit.edu/users/squeek_games" email="pwanetcupquake@gmail.com">
        squeek_games
    </author>

</widget>
